.hoverable {
  .showOnHover {
    display: none;
  }
  &:hover {
    .showOnHover {
      display: block;
    }
  }
  .nextui-image,
  .nextui-image-container {
    border-radius: 0 !important;
    border: 10px red solid !important;
  }
}
